@{
    ViewData["Title"] = "BigPizza - Início";
}


<div class="card" style="background-color: rgba(0,0,0,0.2);">
    <div class="card-body">
        <center>
            <h5>Faça agora mesmo seu pedido!!!</h5>
            <br />
            <br />
            <br />
            <a class="btn" asp-action="Index" asp-controller="Pedido" style="background-color:#CC0000; color: white;">Fazer Pedido</a>
        </center>
    </div>
</div>
